
.left-content{width:45%;padding:20px;display:flex;justify-content: center;flex-direction: column;border-radius:7px;}
.left-content h4{margin-bottom:16px;}
.right-content{width:55%;}
.right-content img{width: 100%;border-radius: 12px;margin-top: 45px;}
.content-main{display:flex;width:90%;margin:130px auto 0px auto;}
