.card-item{width:33.3%;padding:30px 15px}
.card-item h4{margin:8px 0px;}
.product-details{text-align: justify}
.product-img img{border-radius:12px;width:100%;}
.card-container{width:90%;margin:130px auto 30px auto;display:flex;}
